/CIrewriter
*.o
*.out
/ClangInstrumentationPlugin/build/
/ClangInstrumentationPlugin/DerivedData/
/test_out.c
*.cpp_debug
.DS_Store
*.debug

Runtime/auto_generate.cpp

*.sqlite
*.d
*.o
*.pyc

Runtime/log_functions.debug.cpp
/venv/