/CIrewriter
*.o
*.out
/ClangInstrumentationPlugin/build/
/ClangInstrumentationPlugin/DerivedData/
/test_out.c
*.cpp_debug
.DS_Store
*.debug
*.debug.c

Runtime/auto_generate.cpp

*.d
*.o
*.pyc
*.mp3
*.png
*.nib
*.wad
*.svn-base

Runtime/log_functions.debug.cpp
/venv/