{% block head %}
    <title>CodeOnTheGo</title>
    <!-- code mirror includes -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror.css') }}">
    <script src="{{ url_for('static', filename='lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/util/runmode.js') }}"></script>
    {% if extension == '.py' %}
    <script src="{{ url_for('static', filename='mode/python/python.js') }}"></script>
    <script src="{{ url_for('static', filename='codeBubble/python_editor.js') }}"></script>
    {% elif extension == '.js' %}
    <script src="{{ url_for('static', filename='mode/javascript/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='codeBubble/javascript_editor.js') }}"></script>
    {% elif extension == '.html' %}
    <script src="{{ url_for('static', filename='mode/xml/xml.js') }}"></script>
    <script src="{{ url_for('static', filename='mode/javascript/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='mode/css/css.js') }}"></script>
    <script src="{{ url_for('static', filename='mode/htmlmixed/htmlmixed.js') }}"></script>
    <script src="{{ url_for('static', filename='codeBubble/html_editor.js') }}"></script>
    {% elif extension == '.css' %}
    <script src="{{ url_for('static', filename='mode/css/css.js') }}"></script>
    <script src="{{ url_for('static', filename='codeBubble/css_editor.js') }}"></script>
    {% endif %}
    <!-- end codemirror includes -->
    
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    <!-- code bubble includes -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='codebubble.js') }}"></script>
      <script src="{{ url_for('static', filename='aes.js') }}"></script>
      <link id="codebubbleCSS" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='codebubble.css') }}">
    <!-- End code bubble includes -->
    
{% endblock %}

<body onLoad="var start = new Date().getTime(); doHighlight(); createCodeBubble(); var end= new Date().getTime()-start; console.log('time taken to load:'+end+'ms');" style=" width: 100%; overflow-x:auto; margin-top:0px; margin-left:4px; margin-bottom:0px;">  
 <pre id="output" class="cm-s-default" style="width: 100%; height:100%;"></pre>
    
 <script>
  function doHighlight() {
	CodeMirror.runMode(document.getElementById("code").value, 
	{% if extension == '.py' %}
	"text/x-python",
	{% elif extension == '.js' %}
	"text/javascript",
	{% elif extension == '.html' %}
	"text/html",
	{% elif extension == '.css' %}
	"text/css",
	{% endif %}
					   document.getElementById("output"));
  }
 </script>
 <textarea id="code" style="width: 0px; height: 0px; visibility:hidden; overflow:hidden; padding: 0;">
{{ content }}
</textarea>
<span id="saveresult">Not saved yet</span>
<script>
function save() {
	var password = $('#pass')[0].value;
  var plaintext = 'secret';
  var ciphertext = Aes.Ctr.encrypt(plaintext, password, 256);
  var code = Aes.Ctr.encrypt($('#output')[0].innerText, password, 256);
	$.post("/files/fname?fname={{ fname }}&save=true",{code:code, pass:ciphertext},function(result){ $("#saveresult").html(result);});
}
</script>
<div>
<button onclick='save();'>Save</button>
<input id='pass' value='userpassword' type='password'/>
</div>

<textarea id="bigcode" style="width: 0px; height: 0px; visibility:hidden; overflow:hidden; padding: 0;">
#!/usr/bin/python
import os, urllib, hashlib, sys,zipfile,shutil, getopt,  xml.dom
print "Enigma package manager"
url="https://raw.github.com/enigma-dev/Enigma-packages/master/packages.md5"
webFile = urllib.urlopen(url)
updateText=webFile.read().split("\n")
webFile.close();

g_packageToInstall="main"
g_packageToShow=""
g_currentPackage="main"
g_OS=sys.platform
g_globalInstall=False
g_showOnly=False
g_installLocation="./"

optlist, args = getopt.getopt(sys.argv[1:], 'gh',['show=','global','help'])

if len(args)>0: g_packageToInstall=args[0]
for o, a in optlist:
        if o == "--show": #only show the packages 
            g_packageToInstall=""; g_packageToShow=a; g_showOnly=True
        if o == "--global" or o == "-g": #install this globally for this user to .ENIGMA
            g_globalInstall=True; g_installLocation=os.getenv('HOME')+"/.ENIGMA/"
        if o == "--help" or o == "-h": #show the help
            print "To see all packages use --show=all \nTo install globally use --global (useful for large sdks) \nTo see all packages in a category use --show=categoryname"
            sys.exit(0)

if g_packageToInstall.endswith("SDK"): g_packageToInstall+="-"+sys.platform #SDKs are platform specific
if not g_showOnly: print "Installing "+g_packageToInstall+" please wait..."

def ensure_dir(f):
    d = os.path.dirname(f)
    if not os.path.exists(d): os.makedirs(d)
    
def extract_epackage(epackage):
    print "INFO: Extracting "+epackage
    savedPath = os.getcwd()
    os.chdir(os.path.dirname(epackage))
    z = zipfile.ZipFile(os.path.basename(epackage))
    
    for f in z.namelist():
        if f.endswith('/'):
            try:
               os.makedirs(f)
            except: print "already exists, overwriting"
        else:
            z.extract(f)
    try: shutil.rmtree("__MACOSX")  #mac zips have a __MACOSX folder which needs to be removed
    except: pass      
    os.chdir(savedPath)

def downloadPackage(packageToInstall):
    show_iterator=1 #only used with the show argument to neatly print out number) packagename
    for package in updateText:
        
        if package.startswith("#Category:"): g_currentPackage=package.split(" ")[0][10:]; continue
        if (len(package) < 1) or package.startswith("#"): continue
        
        #split the pakage into its components
        packageProperties=package.split(" ")
        packageName = packageProperties[0]
        packageHash = packageProperties[1]
        packageLocalPath = packageProperties[2]
        packageURL = packageProperties[3]
        packageDeps = packageProperties[4]
        
        if g_currentPackage == g_packageToShow or g_packageToShow=='all': print str(show_iterator)+") "+packageName; show_iterator+=1
        
        if packageName != packageToInstall: continue
        
        #loop through dependencies and download them
        for dependency in packageDeps.split(","):
            if dependency == "none": print "INFO: no dependencies for "+packageName;break
            downloadPackage(dependency)
        
        try:
            ensure_dir(g_installLocation+packageLocalPath)
            localfile=open(g_installLocation+packageLocalPath, 'r')
            if hashlib.md5(localfile.read()).hexdigest() == packageHash: print "INFO: "+packageName + " already up-to-date (same hash)"; break #exit now that we have what we are looking for
            else: print "INFO: hash did not match (probably needs updated) localhash:"+hashlib.md5(localfile.read()).hexdigest()+ "remotehash:"+packageHash
        except IOError, err: "INFO: File doesn't exist so downloading:"+packageLocalPath
        webFile = urllib.urlopen(packageURL)
        localfile=open(g_installLocation+packageLocalPath, 'w')
        localfile.write(webFile.read())
        localfile.close()
        webFile.close()
        if packageLocalPath.endswith(".epackage"): extract_epackage(g_installLocation+packageLocalPath)
        
downloadPackage(g_packageToInstall)
if g_showOnly: print "Finished showing all packages for category: "+g_packageToShow
else: print "Finished updating "+g_packageToInstall
</textarea>

<!-- CodeBubble Data -->
<span class="bubble"> <!-- start code bubble -->
<span class="triangle"></span>
  <div id="tooltipheader">
    <table border="0" style="width:90%;">
      <tr>
      <td><button type="button" onClick="goToPreviousElement()" style="width:45px; height:40px;">&lt;</button></td>
      <td>
      <select id="syntaxcategory" style="width:200px;" onclick="$(window._bubble_current).goTo();" >
      <option value="{{ url_for('static', filename='SyntaxBlocks/python/statements.html') }}">Statements</option>
      <option value="{{ url_for('static', filename='SyntaxBlocks/python/expressions.html') }}">Expressions</option>
      <option value="{{ url_for('static', filename='SyntaxBlocks/python/functions.html') }}">Functions</option>
      <option value="{{ url_for('static', filename='SyntaxBlocks/python/variables.html') }}">Variables</option>
      <option id="edit_category" value="{{ url_for('static', filename='SyntaxBlocks/python/edit.html') }}">Edit</option>
      </select>
      </td>
      <td><button type="button" onClick="goToNextElement()" style="width:45px; height:40px;">&gt;</button></td>
      </tr>
    </table>
  </div>
  <div id="tooltippanel">
  </div>
</span>
<!-- End of CodeBubble Data -->

<a href="javascript:void(0);" onClick="jsTouch.loadPage('pocketCode/pythonExSettings.html', { transition: 'slide-left' });" class="openOptions">Go Back</a>

  </body>
</html>
